// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
html {
	overflow-x: hidden;
}

html, body {
	height: 100%;
}

// variables:

// colors
@primary:#40b6be;
@second: #f77f4c;
@third:#662d4e;
@darkTeal: #245864;

//Gradients
@purple-orange-grade:linear-gradient(to bottom, #f77f4c , #db6156, #b84b5a, #8f3a58, #662d4e );
@orange-purple-grade:linear-gradient(to top, #f77f4c , #db6156, #b84b5a, #8f3a58, #662d4e );

@prime-grade: linear-gradient(to top, #245864, #2a6e7b, #318592, #389da8, #40b6be);
@darkTeal-grade: linear-gradient(to bottom, #245864, #2a6e7b, #318592, #389da8, #40b6be);

// shadows
@shadow: 1px 3px 8px 1px rgba(0,0,0,0.75);
@blurred: 0px 5px 20px 0px rgba(0,0,0,0.5);


@transition: all 0.5s ease-in-out;
@upperCase: uppercase;

// Mobile
@mobile: ~"(max-width:500px)";



// Mixins
// The @a and @j are arguments
.custom-layout(@j, @a) {
	display: flex;
	justify-content: @j;
	align-items: @a;
}

.column{
	flex-direction: column;
}

.buttons{
	border: none;
	color: white;
	font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 1px;
	.rounded-borders();
	width: 148px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	.shadow();
	.transition();
	.uppercase();
	
}

.buttons-hover{
	color:black;
}


.progress-bar(@width){
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: @darkTeal;
	width:@width;
}

.shadow{
	 -webkit-box-shadow: @shadow;
		-moz-box-shadow: @shadow;
		-ms-box-shadow: @shadow;
		 -o-box-shadow: @shadow;
	        box-shadow: @shadow;
}

.blurry-shadows {
	-webkit-box-shadow: @blurred;
	-moz-box-shadow: @blurred;
	-ms-box-shadow: @blurred;
	 -o-box-shadow: @blurred;
		box-shadow: @blurred;
}

.rounded-borders{
	border-radius: 5px;
}

.transition {
	-webkit-transition: @transition;  
	   -moz-transition: @transition;
	    -ms-transition: @transition; 
	     -o-transition: @transition; 
	        transition: @transition; 
}

.uppercase {
	text-transform: uppercase;
}

.gradients(@grade) {
	background-image: @grade
}

.full-width {
	width: 100%;
}

// General Styling

html {
	box-sizing: border-box;
	font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
	font-size: 62.5%; 
}
  
  *, *:before, *:after {
	box-sizing: inherit;
}

  h1, h2, h3, h4, h5 {
	font-weight: 600;
	letter-spacing: 1px;
  }

  h1 {
	font-size: 3.6rem;
}

p {
	font-family: 'Raleway', "Helvetica Neue", Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 26px;
	letter-spacing: 1px;
}

.card{
	margin: 40px 0 80px;
	padding: 40px;
	.rounded-borders();
	.blurry-shadows();
	background-color: white;
}

.title {
	.custom-layout(center, center);
	margin-top: 140px;
	margin-bottom: 40px;
}

.button-style{
	background:@primary;
	.gradients(@prime-grade);
	.buttons();
	.custom-layout(center,center);
	margin: 20px 0 60px;
}

.button-style:hover{
	background: @darkTeal;
	.gradients(@darkTeal-grade);
	.buttons-hover();

}

.button-header-style {
	background:@third;
	.gradients(@purple-orange-grade);
	.buttons();
	
	.custom-layout(center,center);
	margin: 40px 20px 20px;
}

.button-header-style:hover{
	color: black;
	background: @third;
	.gradients(@orange-purple-grade);
}


.bold{
	font-weight: 800;
}

.white {
	color: white;
}


.container {
	margin: 0 auto;
	max-width: 1200px;
	width:100%;
}

// navigational styling
nav {
	background: url(../images/teal-banner_b.png);
	background-color: @primary;
	background-blend-mode: multiply;
	font-size: 2rem;
	letter-spacing: 1px;
	margin: 0 0  40px;
	padding: 30px 80px;
	.shadow();
	position: fixed;
	top: 0%;
	height: 100px;
	width: 100vw;
	z-index: 1;
}

.nav-list{
	.custom-layout(space-around, center);

	li{
		padding: 0 50px;
		
		a{	
			color: white;
			font-weight: 700;
			text-decoration: none;
			.transition();

			&:hover{
				color:fadeout(white, 50%);
			}
		}
	}
}


main {
	background-color:@third;
	margin-top: 100px;
}

// header styling

.banner {
	background-image: linear-gradient(to top, #08364e, #0f536d, #18738a, #2894a5, #40b6be 90%);
	background-color: @primary;
	height: 640px;
	width: 100vw;
	padding: 60px 0;
	.custom-layout(center,center);
	.column();
	
	.header-img{
		display: flex;
		.custom-layout(center,center);
		
		img {
			width: 260px;
			height: 25%;
			border: 5px solid @third;
			border-radius: 50%;
		}

	}
	
	.header-info {
		margin-top: 35px;
		text-align: center;

		h1 {
			font-size: 50px;
		}

		h3{
			margin: 10px 0;
			font-size: 32px;
		}
	}
	.header-buttons {
		.custom-layout(center, center);
	}
}

// About Section

#about {
	margin-top: 100px;
}

.about-row {
	.custom-layout(space-between, flex-start);
	
}

.about-column {
	width: 48%;

	h1 {
		margin-bottom: 30px;
		padding-bottom: 15px;
		border-bottom: 2px dotted @primary;
	}

	a {
		color: @primary;
		font-weight: bolder;
		text-decoration: none;
		.transition();

		&:hover {
			color: @second;
		}
	}

	.info-row {
		.custom-layout(space-between, flex-start);

		.info-column {

			p{
				padding-bottom: 20px;
			}
		}
	}
}


//Skills Section

.skill-row {
	.custom-layout(space-between, flex-start);

	.skill-column {
		width: 48%;
		margin: 20px 0;

		.skill-header{
			.custom-layout(space-between, flex-start);
			color: @primary;
			margin-bottom:15px;

			p{
				font-size: 2.4rem;
			}
		}
	}
}


.progress {
	position: relative;
	height: 12px;
	display: block;
	width: 100%;
	background-color: #acece6;


	// .progress-bar(@width); This is an above parametric mixin that allows for % of width to be
	// adjusted here while position, top/bottom, & background-color values to remain constant
	// see mixin section above to adjust.
	.html {
		.progress-bar(62%);
	}

	// Width % value is dictated by claimed skill level % as seen in HTML.

	.css {
		.progress-bar(50%);
	}

	.bootstrap {
		.progress-bar(48%);
	}

	.javascript {
		.progress-bar(10%);
	}

	.adobe {
		.progress-bar(75%);
	}

	.git {
		.progress-bar(10%);
	}

}


// Portfolio



.portfolio-row {
	.custom-layout(space-around, center);
	
	
	.portfolio-cards {
		background-color:white;
		.blurry-shadows();
		.rounded-borders();
		.custom-layout(center, center);
		.column();
		margin: 20px;
		.full-width();
		
		img {
			border-bottom-style: solid;
			border-bottom-color: @third;
			border-bottom-width: 3px;
		}

		h3 {
			font-size: 2.6rem;
			margin: 40px 0 20px;
		}
	}
}

.portfolio-button {
	.custom-layout(center, center);
	.full-width();
	margin: 60px 0 40px;
}

// Experience section

#experience {
	margin-bottom: 200px
}

.edu-title {
	.custom-layout(center, center);
	margin-top: 100px;
	margin-bottom: 40px;
}

.exper-row {
	background: white;
	.blurry-shadows();
	.rounded-borders();
	margin: 20px 0;

	.grid-col {
		.full-width();

		h3 {
			font-size: 2.2rem;
			padding:5px 0 10px;
		}

		@media (min-width: 560px){
			display: table-cell;
		}
	}

	.left {
		background-image: linear-gradient(to top, #08364e, #0f536d, #18738a, #2894a5, #40b6be);
		background-color:@primary;
		border-radius: 5px 0 0 5px;
		padding: 2rem;
		vertical-align: middle;
		text-align: center;
		width: 30%;

		@media (max-width: 900px){
			width: 30%;
		  }

		  @media (max-width: 560px){
			border-radius: 5px 5px 0 0;
			.full-width();
		  }
	}

	.right {
		background: white;
		border-radius: 0 5px 5px 0;
		padding: 2rem;
		vertical-align: middle;

		h3{
			border-bottom: 2px dotted @third;
			margin-bottom: 10px
		}

		@media (max-width: 900px){
		   width: 65%;
		 }

		@media (max-width: 560px){
			border-radius: 0 0 5px 5px;
			.full-width();
		 } 
	}

	@media (min-width: 900px){
		display: table;
		.full-width();
		table-layout: fixed;
	}
}


// Contact section

.form-container {
	.custom-layout(center, center);
	.column();
	margin-bottom: 40px;

	h1 {
		margin: 15px 0 40px;
	}
}


.form {
	background: url(../images/teal-banner_b.png);
	background-color: @primary;
	-webkit-box-shadow: inset 2px 6px 12px -6px rgba(10,10,10,1);
	   -moz-box-shadow: inset 2px 6px 12px -6px rgba(10,10,10,1);
            box-shadow: inset 2px 6px 12px -6px rgba(10,10,10,1);
	.column();
	.custom-layout(center, center);
	.full-width();
	max-width: 900px;
	margin: 0 auto;
	padding: 40px;

	button {
		margin: 40px 0 20px;
	}
}

.form-wrapper {
	list-style-type: none;
	max-width: 500px;
	.full-width();
	margin: 30px 0 0;

	.form-row {
		font-size: 1.8rem;
		.custom-layout(center, flex-start);
		.column();
		flex-wrap: wrap;
		max-width: 500px;
		.full-width();
		margin: 0 auto;
		padding-bottom: 10px;

		// Gives bottom margin to all except the last input/label combo
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		label{
			font-weight: 600;
			letter-spacing: .09em;
			text-transform: uppercase;
			margin-bottom: 15px;
		}

		input, textarea{
			font-size: 1.8rem;
			border: 3px solid #f2f2f2;;
			-webkit-box-shadow: inset 2px 6px 12px -6px rgba(10,10,10,1);
			   -moz-box-shadow: inset 2px 6px 12px -6px rgba(10,10,10,1);
					box-shadow: inset 2px 6px 12px -6px rgba(10,10,10,1);
			padding: 14px 10px 12px;
			max-width:500px;
			.full-width();
		}

		textarea::placeholder{
			font-size: 1.8rem;
		}
	}
}

.contact-info {
	max-width: 500px;
	.full-width();
	margin-top: 40px;

	.contact-row {
		.custom-layout(space-between, flex-start);
		max-width: 460px;
		.full-width();
		margin: 0 auto;
		
		.contact-column {
			.column();
			p {
				padding-bottom: 10px;
			}
		}
	}
}

// footer Styling

footer {
	background: url(../images/teal-banner_b.png);
	background-color: @primary;
	background-blend-mode: multiply;
	.custom-layout(center, center);
	.column();
	width: 100vw;
	padding: 20px 0 35px;

	.social-icons {

		a i{
			font-size: 50px;
			text-decoration: none;
			color: white;
			padding: 10px 20px 20px;
			.transition();

			&:hover{
				color:@second;
				.shadow();
			}
		}
	}

	.copyright {
		.custom-layout(center, center);
		.column();
		color: white;
		
		h2 {
			font-size: 3.6rem;
			margin: 20px 0 20px;
		}
	}
}
