// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

// variables:

@primary:#02c2ae;
@second: #f77f4c;
@third:#662d4e;
@darkTeal: #1F585C;
@darkOrange: #f0683e;
@shadow: 1px 3px 8px 1px rgba(0,0,0,0.75);
@blurred: 0px 5px 20px 0px rgba(0,0,0,0.2);
@transition: all 0.5s ease-in-out;

// Mixins

// The @a and @j are arguments
.custom-layout(@j, @a) {
	display: flex;
	justify-content: @j;
	align-items: @a;
}

.shadow{
	 -webkit-box-shadow: @shadow;
		-moz-box-shadow: @shadow;
		-ms-box-shadow: @shadow;
		 -o-box-shadow: @shadow;
	        box-shadow: @shadow;
}

.blurry-shadows {
	-webkit-box-shadow: @blurred;
	-moz-box-shadow: @blurred;
	-ms-box-shadow: @blurred;
	 -o-box-shadow: @blurred;
		box-shadow: @blurred;
}

.rounded-borders{
	border-radius: 5px;
}

.transition {
	-webkit-transition: @transition;  
	   -moz-transition: @transition;
	    -ms-transition: @transition; 
	     -o-transition: @transition; 
	        transition: @transition; 
}


// General Styling

html {
	box-sizing: border-box;
	font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
	font-size: 62.5%; 
}
  
  *, *:before, *:after {
	box-sizing: inherit;
}

  h1, h2, h3, h4, h5 {
	font-weight: 600;
  }

  h1 {
	font-size: 3.6rem;
}

p {
	font-family: 'Raleway', "Helvetica Neue", Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 26px;
}

.card{
	margin: 40px 0 80px;
	padding: 40px;
	.rounded-borders();
	.blurry-shadows();
}

.title {
	.custom-layout(center, center);
	margin-top: 140px;
}

.button-style{
	background:@second;
	border: none;
	.rounded-borders();
	width: 140px;
	height: 40px;
	.shadow();
}


.bold{
	font-weight: 800;
}


.container {
	margin: 0 auto;
	width: 1200px;
}


// navigational styling
nav {
	background-color:@primary;
	font-size: 2rem;
	margin: 0 0  40px;
	padding: 30px 80px;
	position: fixed;
	top: 0%;
	height: 100px;
	width: 100vw;
	z-index: 1;

	.nav-list{
		.custom-layout(space-around, center);

		li{
			padding: 0 50px;
			
			a{	
				color: black;
				text-decoration: none;
				.transition();
			}

			a:hover{
				color: white;
			}

		}

	}
}


main {
	margin-top: 100px;
}

// header styling

.banner {
	background-color: @third;
	background-image: url("/images/teal-banner.png");
	background-position: 0% 0%;
	background-repeat:no-repeat;
	background-size:cover;
	height: 640px;
	width: 100vw;
	padding: 60px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;


	.header-img{
		display: flex;
		justify-content: center;
		
	
		img {
			width: 8%;
			height: 95%;
			border: 5px solid @second;
			border-radius: 50%;
		}

	}
	
	.header-info {
		margin-top: 20px;
		text-align: center;


		h1 {
			font-size: 50px;
		}

		h3{
			margin: 10px 0;
			font-size: 32px;
		}
	}
	.header-buttons {
		.custom-layout(center, center);

		button{
			margin: 20px;
		}
	}
}

// About Section

.about-row{
	.custom-layout(space-between, flex-start);
	
	.about-column {
		width: 48%;
		
		h1{
			margin-bottom: 30px;
		}
		.info-row {
			.custom-layout(space-between, flex-start);

			.info-column {
				
				p{
					padding: 10px 0;
				}
			}
		}
	}
}


// .custom-layout(@j @a) {
// 	display: flex;
// 	justify-content: @j;
// 	align-items: @a;
// }

//Skills Section

.skill-row{
	.custom-layout(space-between, flex-start);

	.skill-column {
		width: 48%;
		margin: 20px 0;

		.skill-header{
			.custom-layout(space-between, flex-start);
			color: @primary;
			margin-bottom:15px;

			p{
				font-size: 2.4rem;
			}
		}

		.progress{
			position: relative;
			height: 12px;
			display: block;
			width: 100%;
			background-color: #acece6;

			.html {
				position: absolute;
				top: 0;
				bottom: 0;
				background-color: @darkTeal;
				width: 62%;
			}

			.css {
				position: absolute;
				top: 0;
				bottom: 0;
				background-color: @darkTeal;
				width: 50%;
			}

			.bootstrap {
				position: absolute;
				top: 0;
				bottom: 0;
				background-color: @darkTeal;
				width: 48%;
			}

			.javascript {
				position: absolute;
				top: 0;
				bottom: 0;
				background-color: @darkTeal;
				width: 10%;
			}

			.adobe {
				position: absolute;
				top: 0;
				bottom: 0;
				background-color: @darkTeal;
				width: 75%;
			}

			.git {
				position: absolute;
				top: 0;
				bottom: 0;
				background-color: @darkTeal;
				width: 10%;
			}

		}
	}
}